@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {

    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #333;
    background-color: #f6f6f6;
}

.supfile-navbar {
    position: fixed;
    padding-top: 30px;
    height: 100vh;
    border-right: 1px solid #66a6ff;
    background-color: #66a6ff;

}

.fa-arrow-left {
    width: 100%;
    color: white;
    padding-top: 40px;
    outline: 0;

}

.logo {
    width: 70%;
    padding-bottom: 60px;
}

.info-nav-bar {
    background-color: #FF9600;
    word-wrap: break-word;
    height: 100%;
    width: 100%;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    padding-top: 25%;
}

.uprof a  {
    color: #f6f6f6;
    outline: 0;
}

.uprof a:hover  {
    color: black;
    outline: 0;
}

.itemscol {
    padding: 60px 100px;
    margin-left: 25%;
}

.progress-bar {
    z-index: 2;
    width: 100%
}

.progress {
    z-index: 1;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.pourcent {
    color: black;
}

.storefill {
    font-size: 0.7rem;
    text-align: center;
    outline: 0;
}

.acc {
    position: relative;
    z-index: 0;
    width: 70px;
}

.fa-plus-circle {
    z-index: 1;
    position: absolute;
}

.logout, .uname {
    padding-left: 15px;
    display: inline-block;
    font-size: 1.2rem;
    color: black;
    padding-top: 17px;
}

.uname {
    padding-right: 15px;
    font-size: 1.2rem;
    color: black;
}

.uprof {
    align-items: center;
}

.pset {
    padding-bottom: 25px;
}

.icontrols{
    max-height: 45vh;
}

.vcontrols{
    height: 45vh;
}

.acontrols {}

.downloadb {
    bottom: 0;
    position: absolute;
    border-color: #66a6ff;
    background-color: #66a6ff;
    width: 200px;
    font-size: 1.3rem;
    left: 0;
    right: 0;
}

.downloadb:hover {
    border-color: #007bff;
    background-color: #007bff;
    width: 200px;
    font-size: 1.3rem;
}

.propelem {
    text-align: center;
}

.properties {
    width: 100%;
}

.rpropelem, .lpropelem {
    padding-top: 20px;
}

.rowp1 {
    background-color: black;
    min-height: 45vh;
}

.rowp2 {
    border-right: 3px solid #555555;
    border-left: 3px solid #555555;
    text-align: center;
    min-height: 30vh;
}

.rowp3 {
    text-align: center;
    min-height: 5vh;
}

.shareb {
    background: #f6f6f6;
    color: #66a6ff;
}

.shareb:hover {
    color: #007bff;
}

/* TreeView */
.elementpack {
    padding-bottom: 5px;
    padding-left: 40px;
    list-style-type: none;
}

.foldertree {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
    list-style-type: none;

}

.list-group a {
    color: black;
    text-decoration: none;
    outline: 0;
}

.list-group a:hover {
    color: white;
    text-decoration: none;
    outline: 0;
}

.treeview {
    border: 3px solid black;
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    margin-top: 10px;
    font-size: 1.2rem;
    word-break: break-all;
    overflow-y: scroll;
}

/* --- file-rename-box --- */
.file-rename-box span {
    font-size: 1rem;
}

.file-rename-box {
    margin-bottom: 20px;
    border: 3px solid #555555;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.file-rename-box .box-download  {
    border-left: 3px solid #555555;
}

.file-rename-box .box-delete  {
    border-left: 3px solid #555555;
}

.file-rename-box .box-download a {
    color: #333333;
}

.file-rename-box .box-delete a {
    color: #333333;
    font-size: 1.6rem;
}

.file-rename-box .box-download a:hover {
    color: #3498DB;
    text-decoration: none;
}

.file-rename-box .box-delete a:hover {
    color: #a52a2a;
    text-decoration: none;
}

.file-rename-box input[type="text"],
.file-rename-box input[type="password"],
.file-rename-box input[type="email"],
.file-rename-box select.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #c5c5c5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0px;
}

.file-rename-box input[type="text"]:focus,
.file-rename-box input[type="password"]:focus,
.file-rename-box input[type="email"]:focus,
.file-rename-box select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 2px solid #3498DB;
}

.file-rename-box button[type="submit"] {
    cursor: pointer;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 13px;
    background-color: #333;
    border: 0px solid transparent;
    border-radius: 0px;
}

.file-rename-box button[type="submit"]:hover {
    color: #3498DB;
    background-color: #333;
}

.file-rename-box button[type="submit"]:focus, .file-rename-box button[type="submit"].focus {
    box-shadow: 0 0 0 0 #333;
}