{% set absolutePath = file_business.getFilePath(file) %}
{% set uriPath = path('app_file_downloading_download', {'id': file.id}) %}
{% if absolutePath is image %}
    <img src="{{ uriPath }}">
{% elseif absolutePath is video %}
    <video class="vcontrols" controls>
        <source src="{{ uriPath }}">
    </video>
{% elseif absolutePath is audio %}
    <audio controls>
        <source src="{{ uriPath }}">
    </audio>
{% elseif absolutePath is text %}
    <div style="color: white;">
        {{ getFileContent(absolutePath) }}
    </div>
{% else %}
    An other file type
{% endif %}