<!DOCTYPE html>
{% block html_html %}
    <html>
    {% block head_html %}
    <head>
        <meta charset="UTF-8">

        {% block head %}
            <title>{% block title %}Supfile - {% endblock %}</title>
        {% endblock %}
        {% include '@Layout/Page/Default/stylesheets.html.twig' %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    {% endblock %}

    {% block body_html %}
        <body>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    {% endblock %}
    </html>
{% endblock %}