{% extends '@Layout/Page/Information/base.html.twig' %}

{% block title %}{{ parent() }}Agreement{% endblock %}

{% block body %}
    <div class="row m-0 p-5">
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Sensi n'a pas de bentō</h3>
            <p class="p-5 text-justify">
                C'est l'histoire d'un professeur qui n'avait pas de quoi manger le midi, il se baladé dans la rue lorsqu'il vit certains de ses élèves manger au restaurant, il passa son chemin, plus loin il en vu une autre vers un arrêt de bus lorsqu'un coup de vent lui souleva un peu sa jupe (et oui les japs aiment voir de la petite culotte), il continua sa route pour rentrer chez lui, il n'y avait personne dans les rues suite à une épidémie ayant éradiqué plus de la moitié de la population du village, et enfin il trouva un banc pour s'assoir et attendre que l'heure du midi se termine.
            </p>
        </div>
    </div>
{% endblock %}