{% extends '@Layout/Page/Default/base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock stylesheets %}

{% block body %}
    {% include '@Layout/Page/Default/topbar.html.twig' %}
    <div class="container-fluid p-0 h-100 w-100 mx-auto">
        <div class="row align-items-center supfile-header text-center m-0 p-0">
            <div class="col-12 mx-auto text-center" style="background-color: rgba(255,255,255,0.4);">
                Welcome to SupFile, <br>the Cloud powered by Dyosis.
            </div>
        </div>
        <div class="row p-5 m-0">
            <div id="WiS" class="col-12 text-center">
                <h1><u>What is SupFile ?</u></h1>
                <p class="p-5 text-center">
                    SupFile is a storage solution created by our company Dyosis. With SupFile you can manage and host all your documents from a wide selection of file extensions and for unbeatable prices.
                </p>
            </div>
        </div>
        <div class="row p-5 m-0">
            <div id="WcU" class="col-12 text-center">
                <h1><u>Why choose us ?</u></h1>
                <p class="p-5 text-center">
                    Choosing SupFile is the guarantee of a customer service available at any time of the day, a security for all your files, an extension of your storage data in a few clicks and especially prices lower than the competition.
                </p>
            </div>
        </div>
        <div class="row p-5 m-0">
            <div id="FAQ" class="col-12 text-center">
                <h1><u>FAQ</u></h1>
                <p class="p-5 text-center"><strong>
                        What if I need more space?
                    </strong></p>
                <p class="p-5 text-center">
                    If necessary, you can modify your subscription in just a few clicks to have more storage space.
                </p>
                <p class="p-5 text-center"><strong>
                        How do you ensure the security of our data?
                    </strong></p>
                <p class="p-5 text-center">
                    Your data is stored on our servers which themselves have a replication system so that your data is always accessible even in case of problems.
                </p>
                <p class="p-5 text-center"><strong>
                        What formats can you take on your platform?
                    </strong></p>
                <p class="p-5 text-center">
                    Compatible formats with our system are: gif, png, jpeg, bmp, webp, mp4, ogg, webm, mpeg, gg, wav, mp3, txt
                </p>
                <p class="p-5 text-center"><strong>
                        Do you have a trial offer?
                    </strong></p>
                <p class="p-5 text-center">
                    To take advantage of our trial offer, just create an account and take advantage of the 30 GB we offer.
                </p>
            </div>
        </div>
        <div class="row p-5 m-0">
            <div id="Prices" class="col-12 text-center">
                <h1><u>Prices</u></h1>
                <div class="row p-5 m-0 pricesrow">
                    <div class="col-12 colprice">
                        <div class="linkprice">
                            <div class="squarepricefree">
                                <h1 class="pricesize">30 Go</h1>
                                <span class="price">Free</span>
                            </div>
                        </div>
                    </div>
                    {% for offer in offers %}
                        {% include '@Layout/Widget/Offer/base.html.twig' with {'offer': offer} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}