{% extends '@Layout/Page/Information/base.html.twig' %}

{% block title %}{{ parent() }}Policy{% endblock %}

{% block body %}
    <div class="row m-0 p-5">
        <div class="col-12 text-center">
            <h3>Commence par me parler poliment</h3>
            <p class="p-5 text-justify">
                Mais j'ai le droit !
            </p>
        </div>
        <div class="col-12 text-center">
            <h3>Papier du véhicule !</h3>
            <p class="p-5 text-justify">
                Allô Madame ?<br>
                C'est la police, ouvrez la porte !
            </p>
        </div>
    </div>
{% endblock %}