{% extends '@Layout/Page/Default/information.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>
               Space
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    {% for offer in offers %}
        <tr>
            <td>
                {% include '@Layout/Widget/Quota/information.html.twig' with {'quota': offer.quota} %}
            </td>
            <td>{{ offer.price }}€</td>
            <td><a href="{{ path('app_offer_showing_show', {'offer': offer.id}) }}">Details</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}